* {
}

.grumpy {
    font-family: 'Short Stack', cursive;
}

.circle {
    margin: 0 auto;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: #ffffff;
    color: #000000;
}

.menu {
    list-style-type: none;
}
