<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href='http://fonts.googleapis.com/css?family=Short+Stack' rel='stylesheet' type='text/css' />
<link href={{ STATIC_URL }}css/style.css rel='stylesheet' type='text/css' />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-latest.js"></script>

{% block head %}{% endblock %}
</head>

<body>
<div id="page">
    <div id="header">
    <h1>Eventex</h1>
    <hr />
    {% block header %}{% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}{% endblock %}
    </div>

{% block script %}
{% endblock %}

</div>
</body>

</html> 
